.contato{
    margin: 9em 0;
    text-align: center;
}
.contato__titulo{
    color: var(--preto);
    font-size: 38px;
    font-weight: 700;
}
.contato__texto{
    font-size: 20px;
    margin: 1.6em 0;
}
.contato__email{
    border: 1px solid #d0d5dd;
    border-radius: 16px;
    padding: 1em;
    width: 25%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
}

.rodape{
    margin: 2.3em 0;
}