.cabecalho{
    display: flex;
    align-items: center;
    padding: 1em 4em;
}

.container__logo{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #3A404E;
    font-size: 18px;
    font-weight: 500;
}

.cabecalho__nav{
    margin-left: 11em;
}

.cabecalho__lista{
    display: flex;
    gap: 1.5em;
}
.lista-link{
    font-weight: 500;
}
.lista-link:hover{
    text-decoration: underline;
}

.container__login{
    margin-left: auto;
    font-weight: 500;
}
.button-cadastrar{
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 1em;
    border-radius: 11px;
    margin-left: 1em;
}

/** :: **/

.button-cadastrar:hover{
    transform: scale(1.03);
}